include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")



mixin search()
	+b.search-block&attributes(attributes)
		form
			input(type="text" placeholder="Поиск")
			button 
				+icon("search")

mixin page-head(...items)
	+b.page-head
		- let l = items.length
		+e.container.container
			+breadcrumb('Главная',...items)

mixin bigPageHead(t, img, slider)
	+b.big-page-head
		if slider
			+e.slider.swiper.defaultSwiper-js
				.swiper-wrapper
					+e.slide.swiper-slide
						+img(`img/${img}`, 'bg').picture-bg
					+e.slide.swiper-slide
						+img(`img/${img}`, 'bg').picture-bg
				+e.container.container
					+e.row.row
						.col
							+e.text Ливны, Орловская область
						.col-auto
							+e.arrow-wrap
								+arrow
		else
			+e.wrap.bg-wrap
				+img(`img/${img}`, 'bg').picture-bg
				if t
					+e.container.container
						h1!= t

mixin asideContent()
	+b.aside
		+e.head
			+e.logo.order-lg-last(href="#")
				+img('img/svg/logo.svg')
			+e.city(href='#')
				+e.icon-wrap
					+icon('pin')
				p Москва
				+icon('chevron-down')
		+e.body
			+e.title.d-lg-none
				+e.close--js
					+icon('chevron-left')
				.h5 Каталог
			mixin link(i, text)
				+e.link(href="#")
					//- +icon(icon)
					+img(`img/svg/catalog-${i}.svg`)
					!= text
			+link('1', 'Входные группы и арки')
			+link('2', 'Перголы для парка')
			+link('3', 'Навесы для парка')
			+link('4', 'Сцены')
			+link('5', 'Беседки для парка')
			+link('6', 'Качели для парка')
			+link('7', 'Деревянные горки')
			+link('8', 'Пункты проката')
			+link('9', 'Павильоны и киоски')
			+link('10', 'Кафе и рестораны')
			+link('11', 'Ярмарочные домики')
			+link('12', 'Административные здания')

mixin card(data)
	+b.card-item.bg-wrap(href='#')&attributes(attributes)
		+e.wrap
			+img(`img/${data.img}`, 'bg').picture-bg
			+e.content
				if data.name
					+e.name(class=data.name.class)!= data.name.text
				+e.title!= data.title
				if data.read
					+e.read 
						| Перейти в источник
						+icon('open')
				if data.text
					+e.text-wrap
						p!= data.text

mixin product-item(i, t, pr)
	+b.product-item
		+e.img-wrap(href="#")
			//- если надо картинку по центру  вывести использовать обертку .img-wrap-center  - если нет- убираем
			.img-wrap-center 
				+img(`img/prod-${i}.jpg`, 'bg')
		+e.caption
			+e.title!= t
			+e.price!= pr
			+e.btn.btn.btn-primary(href='#' data-src='modal-call2' data-fancybox="modal") Оставить заявку
	// /.product-item

mixin cookies()
	+b.cookies
		p Наш сайт использует файлы cookie. При использовании данного сайта, вы&nbsp;подтверждаете свое согласие на&nbsp;использование файлов cookie. 
			a(href="#") Узнать больше
		+e.close.close-js

mixin successful()
	+b.successful
		p Ваша заявка успешно отправлена, в ближайшее время мы с вами свяжемся
		+e.close.close-js